name: Synchronize-shylocks
on:
  workflow_dispatch:
  schedule:
    - cron: '0 */6 * * *'

jobs:
  repo-lxk:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        persist-credentials: false
    - name: repo-sync
      uses: repo-sync/github-sync@v2
      with:
        source_repo: "https://bitbucket.org/jd-study/shylocks.git"
        source_branch: "master"
        destination_branch: "shylocks"
        github_token: ${{ secrets.PAT }}
